.menu-container {
  background-color: $background-color;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: solid $border-background 1px;
  color: white;
}

.links-container {
  font-size: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
  list-style: none;
  gap: 2rem;
  text-decoration: none;
}
.links-container li {
  font-size: 14px;
  color: $text-color;
  outline: none;
  text-decoration: none;
  border-bottom: none;
}

.link-style {
  text-decoration: none;
}
.links-container li:hover {
  color: greenyellow;
}
.logo-cointainer {
  display: flex;
  width: 400px;
  height: 100%;
  align-items: center;
  gap: 1rem;
}
.logo-cointainer p {
  font-size: 25px;
  color: $logo-color;
}
.logo-homepage {
  height: 70px;
  width: 70px;
  margin-left: 20px;
}
