.nabar-container {
  background-color: $background-color;
  width: 200px;
  display: flex;
  border-right: solid $border-background 1px;
}

.sidebar-container {
  list-style: none;
  color: $text-color;
}
