@import "./styles/assets/variables.scss";

@import "./styles/Home.scss";
@import "./styles/Menu.scss";
@import "./styles/Navbar.scss";
@import "./styles/Table.scss";

@import "./styles/components/Links.scss";
@import "./styles/components/Data-block.scss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
